body {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #5c6266;

	font-family: Poppins;
}

@font-face {
	font-family: 'Arvo';
	src: local('Arvo'), url(./fonts/Arvo.woff) format('woff');
}
@font-face {
	font-family: 'Arvo';
	font-weight: bold;
	src: local('Arvo'), url(./fonts/Arvo-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Arvo';
	font-style: italic;
	src: local('Arvo'), url(./fonts/Arvo-Italic.woff) format('woff');
}
@font-face {
	font-family: 'Arvo';
	font-weight: bold;
	font-style: italic;
	src: local('Arvo'), url(./fonts/Arvo-BoldItalic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	src: local('Roboto'), url(./fonts/Roboto-Thin.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;
	src: local('Roboto'), url(./fonts/Roboto-ThinItalic.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: local('Roboto'), url(./fonts/Roboto-Light.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	src: local('Roboto'), url(./fonts/Roboto-LightItalic.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: local('Roboto'), url(./fonts/Roboto.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	src: local('Roboto'), url(./fonts/Roboto-Italic.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: local('Roboto'), url(./fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src: local('Roboto'), url(./fonts/Roboto-MediumItalic.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: local('Roboto'), url(./fonts/Roboto-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	src: local('Roboto'), url(./fonts/Roboto-BoldItalic.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	src: local('Roboto'), url(./fonts/Roboto-Black.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;
	src: local('Roboto'), url(./fonts/Roboto-BlackItalic.woff) format('woff');
}

@font-face {
	font-family: 'Poppins';
	font-weight: 100;
	src: local('Poppins'), url(./fonts/Poppins-Thin.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 100;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-ThinItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 200;
	src: local('Poppins'), url(./fonts/Poppins-ExtraLight.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 200;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-ExtraLightItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 300;
	src: local('Poppins'), url(./fonts/Poppins-Light.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 300;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-LightItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	src: local('Poppins'), url(./fonts/Poppins-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-Italic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	src: local('Poppins'), url(./fonts/Poppins-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-MediumItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	src: local('Poppins'), url(./fonts/Poppins-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-SemiBoldItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	src: local('Poppins'), url(./fonts/Poppins-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-BoldItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	src: local('Poppins'), url(./fonts/Poppins-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-ExtraBoldItalic.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	src: local('Poppins'), url(./fonts/Poppins-Black.woff) format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 900;
	font-style: italic;
	src: local('Poppins'), url(./fonts/Poppins-BlackItalic.woff) format('woff');
}